---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Hello Astro Index Page";
const happy = true;
const finished = false;
const goal = 3;
---
<BaseLayout pageTitle={pageTitle}>
    {happy && <p>I am happy to be learning Astro!</p>}
    {finished ? <p>I finished this tutorial!</p> : <p>I just not finished this  tutorial.</p>}
    {goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is to finish in {goal} days.</p>}
</BaseLayout>