---
import Navigation from './Navigation.astro';
import ThemeIcon from './ThemeIcon.astro';
import SearchModal from './SearchModal.astro';
---
<header>
  <nav>
    <ThemeIcon />
    <Navigation />
    <SearchModal />
  </nav>
</header>